body {
  background: linear-gradient(to right,#FBFFDD , #FDEDEC
, #EBDEF0  );
}

.titulo{
  font-family: "Consolas", monospace;
  padding-top: 25px;
  text-align: center;
  justify-content: center;
  
}

.subtitulo {
  font-family: "Consolas", monospace;
  text-align: center;
  font-size: 200%;
}

.formulario {
  padding-top: 1%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.registro {
  align-items: center;
  position: relative;
  display: flex;
  
}
.formulario .registrar {
  padding: 12px;
  background: #F7F9E7;
}

.registrar {
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  
}
